.gradient-box {

   .css-k1mgvn-MuiButtonBase-root-MuiButton-root:hover {
    background-color: white;
    border: none;
  }

.css-k1mgvn-MuiButtonBase-root-MuiButton-root {
      border: none;
      color: inherit;
      background-color: white ;
  }
  
}
