.gradient-box {

   .MuiButton-outlinedPrimary:hover {
     background-color: white;
    border: none;
  }

.MuiButton-outlinedPrimary {
      border: none;
      color: inherit;
      background-color: white ;
  }
  
}
