@use '../../../scss/abstracts' as *;

.css-fl5ss-MuiLinearProgress-root {
  height: 18px !important;
  border-radius: $progressBar_BorderRadius;
}

.css-2x3hzx-MuiLinearProgress-dashed {
  animation: none !important;
  background-image: none !important;
  background-color: #eaeaea;
}

.css-3m53vr-MuiLinearProgress-bar1 {
  background-image: $clr-progressBar;
  border-radius: inherit;
}

.css-xhr4pi-MuiLinearProgress-bar2 {
  border-radius: inherit;
}
