.input-search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.css-152698e-MuiInputBase-root-MuiInput-root:before,
.css-152698e-MuiInputBase-root-MuiInput-root:after{
     border-bottom: none !important;
}


