@use '../../../scss/abstracts/' as *;
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: $clr-white;

  &-share {
    padding: $padding-default;
  }

  &-user {
      --gap: 2rem;
      padding: $padding-default;
     
  }

  nav {
    flex: 1;
  }

  &-setting {
    padding: $padding-default;
  }
}
