.nav {
  ul {
    display: flex;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}

.nav--vertical {
    margin-top: 5rem;

  ul {
    flex-direction: column;
    width: 100%;

    & > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }
}
